.main_wrapper {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    border-radius: 50px;
    background: linear-gradient(225deg, #d9caca, #b7aaaa);
    box-shadow:  -35px 35px 70px #9c9292,
    35px -35px 70px #fae8e8;
}

.left {
    flex: 1;
    height: 100%;
    background-color: rgb(112, 109, 109);
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    color: rgb(216, 213, 213);
}

.icon {
    width: 50px;
    height: 50px;
    background-image: url("../imgs/icon.jpeg");
    background-size: cover;
}

.top {
    height: 10%;
    display: flex;
    align-items: center;
}

.member_list {
    text-align: center;
    height: 5%;
    color: cadetblue;
}

.list{
    flex: 1;
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}


.right {
    flex: 3;
    height: 100%;
    background-color: rgb(224, 220, 212);
    display: flex;
    flex-direction: column;
}

.right_top {
    flex: 1;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    border-bottom: 1px solid #ccc;
}

.meeting_name {
    align-items: center;
}

.to_video_chat_room {
    float: right;
    position: absolute;
    right: 300px;
    top: 20px;
}

.chat {
    flex: 7;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    flex: 4;
    position: relative;
    background-color: white;
}

.message_content {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    word-break: break-all;
    overflow: hidden;
}

.emotion_button {
    position: absolute;
    bottom: 10px;
    left: 40px;
}

.smiley {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("../imgs/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}

.send {
    position: absolute;
    bottom: 10px;
    right: 40px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.send:hover {
    background-color: #3e8e41
}

.send:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}